h1 {
    font-style: bold;
    color: coral;
    font-size: 30px;

}

p{
    font: xx-large;
    color: brown;
    font-style: italic;
    font-size: 20px;
}

body{

  background-color: lightgray;

}

h1 {
    color: darkblue;
    
}