h1 {

  color :green;
   font-size: 50px;
}


h1 {

  font-size: 70px;
 
}
img{
  padding-left: 5cm;
}
body {

  background-color: lightsteelblue;
}

p{
   color: red;
   font-size: x-large;
   font-style: oblique;

}

  
